<div class="container" *ngIf="address">
  <div>
    <label for="street">Street</label>
    <input
      type="text"
      pInputText
      [formControl]="address.controls.street"
      name="street"
      id="street"
      style="width: 530px"
    />
  </div>

  <div class="flex-column">
    <label for="zipcode">Zip code</label>
    <input
      type="text"
      pInputText
      [formControl]="address.controls.zipcode"
      name="zipcode"
      id="zipcode"
    />
  </div>
  <div class="flex-column">
    <label for="city">City</label>
    <input
      type="text"
      pInputText
      [formControl]="address.controls.city"
      name="city"
      id="city"
    />
  </div>
</div>
