<div class="form-container" *ngIf="form$ | async as form">
  <h2>Signup form - with Vest validation</h2>
  <form
    [model]="form"
    [schema]="signupSchema"
    (formValueChange)="setFormValue($event)"
    (ngSubmit)="onSubmit()"
  >
    <div validation-wrapper>
      <label for="firstName">First name</label>
      <input
      type="text"
      pInputText
      [ngModel]="form.firstName"
      name="firstName"
      id="firstName"
    />
    </div>

    <div validation-wrapper>
      <label for="lastName">Last name</label>
      <input
        type="text"
        pInputText
        [ngModel]="form.lastName"
        name="lastName"
        id="lastName"
      />
    </div>

    <div validation-wrapper>
      <label for="age">Age</label>
      <input
        type="text"
        pInputText
        [ngModel]="form.age || 0"
        name="age"
        id="age"
      />
    </div>

    <div validation-wrapper>
      <label for="parentEmail">Parent email</label>
      <input
        type="text"
        pInputText
        [ngModel]="form.parentEmail"
        name="parentEmail"
        id="parentEmail"
        [disabled]="(form.age ?? 0) > 17 || (form.age ?? 0) < 10"
      />
    </div>

    <ng-container ngModelGroup="addresses">
      <h4 class="home-label">Home address</h4>
      <ng-container ngModelGroup="homeAddress">
        <app-address-vest-validation [address]="form.addresses?.homeAddress"></app-address-vest-validation>
      </ng-container>

      <p-checkbox
        [ngModel]="form.addresses?.includeWorkAddress"
        [binary]="true"
        name="includeWorkAddress"
        inputId="workAddress"

      ></p-checkbox>
      <label class="include-wa" for="workAddress"
        >Include work address</label
      >
      <ng-container *ngIf="form.addresses?.includeWorkAddress">
        <h4 class="home-label">Work address</h4>
        <ng-container ngModelGroup="workAddress">
          <app-address-vest-validation
            [address]="form.addresses?.workAddress"
          ></app-address-vest-validation>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container ngModelGroup="phoneNumbers">
      <h4 class="phone-number-label">Phone numbers</h4>
      <app-phone-numbers-vest-validation [phoneNumbers]="form.phoneNumbers?.values || {}"></app-phone-numbers-vest-validation>
    </ng-container>

    <button pButton label="Submit" type="submit"></button>
    <button
      pButton
      label="Reset"
      type="reset"
      class="p-button-success"
    ></button>
  </form>
  <div class="form-value">
    <button
      pButton
      label="Show reactive form"
      class="p-button-danger"
      (click)="showForm()"
    ></button>
    <pre>
    {{ form | json }}
  </pre
    >
  </div>
</div>
