.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  .form-body {
    margin-top: 50px;
    width: 600px;
    background: #f5f5f5;
    border-radius: 14px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 25px;
  }
  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .home-label {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 500px;
  }

  .include-wa {
    width: 400px;
  }

  .form-value {
    display: flex;
    align-items: center;
    width: 600px;
    justify-content: space-between;
    padding: 24px;
  }
}
